{{ define "header" }}
{{ "<!-- navigation -->" | safeHTML }}
<style type="text/css">
  header.intro-header {
      background-image: url('{{ .Site.Params.header_image | relURL}}');
  }
</style>
<script>
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
      document.getElementById("my-navbar").style.padding = "0px 35px 0px 35px";
      document.getElementById("my-navbar").style.backgroundColor = "#444444c0";
    } else {
      document.getElementById("my-navbar").style.padding = "16px 16px 16px 16px";
      document.getElementById("my-navbar").style.backgroundColor = "#85858500";
    }
  }
</script>
<header class="intro-header">
  <div class="container-fluid">
    <!-- navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" id="my-navbar">
      {{ if .Site.Params.small_logo }}
        <img class="img-fluid small_logo" width="40px" src="{{ .Site.Params.small_logo | absURL }}" alt="{{ .Site.Title }}">
      {{ end }}
      <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
        {{.Site.Title}}
      </a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-menu"></i>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto">
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{ .Name }} <i class="ti-angle-down ml-1"></i>
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}
        </ul>

        {{ if .Site.Params.search }}
        {{ "<!-- search -->" | safeHTML }}
        <div class="search px-4">
          <button id="searchOpen" class="search-btn"><img src="{{ "images/search.png" | relURL }}" height="15" style="cursor: pointer;" alt="Search"></button>
          <div class="search-wrapper">
            <form action="{{ `search`| relLangURL }}" class="h-100">
              <input class="search-box pl-4" id="search-query" name="s" type="search" placeholder="">
            </form>
            <button id="searchClose" class="search-close"><i class="ti-close text-dark"></i></button>
          </div>
        </div>
        {{ end }}
      </div>
    </nav>
  </div>
  <div class="site-heading">
    <h1>{{ .Site.Title}} </h1>
    <!--<hr class="small">-->
    <span class="subheading">{{ .Site.Params.slogan }}</span>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}
{{ end }}